body {
	font-family: "Lucida Console", Monaco, monospace;
	box-sizing: border-box;
}
.ques-ans-block {
	width: 50%;
	height: 400px;
	text-align: center;
	position: relative;
	border: 1px solid black;
}
.question-block {
	font-size: 30px;
	margin-top: 20px;
}
.answer-block {
	font-size: 10px;
}
.devider {
	width: 80%;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 10px;
}
.single-answer label {
	font-size: 20px;
	display: inline-block;
	margin: 10px 5px;

}
.submit-button {
	margin: 10px 20px 20px;
}
.review-page {
	display: none;
}
.user-test-details input {
	position: absolute;
	right: 0px;
}
.user-test-details {
	margin: 15px;
	position: relative;
}
.review-form header {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 30px;
}
.review-form button {
	display: block;
	margin: auto;
	width: 200px;
	margin-top: 50px;
}
.submit-this {
	width: 40%;
	margin-top: 20px;
}
.input-name, .input-email {
	width: 100%;
	margin: 10px 5px;
}
.main {
	display: none;
	margin-top: 100px;
	justify-content: space-around;
	align-items: flex-start;
}
.current-status {
	margin-top: 100px;
	border: 1px solid black;
	visibility: hidden;
}
.status-table {
	border-collapse: collapse;
	text-align: center;
	table-layout: fixed;
}
.current-status th {
	border-bottom: 1px solid blue;
}
.current-status td {
	border-bottom: 1px solid #0099cc;
	padding: 5px;
}
.current-status th:nth-child(1) {
	width: 40px;
}
.current-status th:nth-child(2) {
	width: 200px;
}
.current-status td:nth-child(3) {
	width: 50px;
}
.current-status td:nth-child(2) {
	text-align: left;
}
.current-status i {
	color: #99cc00;
}
footer.mFooter {
	position: absolute;
	left: 50%;
	bottom: 15px;
}
header.mHeader {
	text-align: center;
}
.sureButton {
	display: block;
	width: 150px;
	margin: 20px auto;
}
.login-form-container {
	width: 30%;
	border: 1px solid black;
	margin: auto;
	margin-top: 10%;
	text-align: center;
}
.login-form-container input {
	width: 90%;
	margin: 10px 0;
}
.login-form-container input[type="submit"] {
	width: 30%;
}
[class$="msg"] {
	color: red;
	font-size: 12px;
	margin: 1px;
}
.login-form-container i {
	color: green;
}
