body {
	font-family: "Lucida Console", Monaco, monospace;
	box-sizing: border-box;
}
.welcome-page {
	display: none;
	width: 900px;
	margin: auto;
	margin-top: 200px;
	color: red;
	font-size: 70px;
}
.ques-ans-block {
	display: block;
	width: 50%;
	height: 400px;
	margin: auto;
	margin-top: 100px;
	text-align: center;
	border: 1px solid black;
}
.question-block {
	font-size: 30px;
	margin-top: 20px;

}
.answer-block {
	font-size: 10px;
}
.devider {
	width: 80%;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 10px;
}
.single-answer label {
	font-size: 20px;
	display: inline-block;
	margin: 10px 5px;

}
.submit-button {
	margin: 10px 20px 20px;
}
.name-form {
	padding: 50px;
	border: 1px solid black;
	display: none;
	width: 30%;
	margin: auto;
	margin-top: 100px;
}
.review-page {
	display: none;
}
.user-test-details input {
	position: absolute;
	right: 0px;
}
.user-test-details {
	margin: 15px;
	position: relative;
}
.review-form header {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 30px;
}
.review-form button {
	display: block;
	margin: auto;
	width: 200px;
	margin-top: 50px;
}
.submit-this {
	width: 40%;
	margin-top: 20px;
}
.name-form input {
	width: 100%;
	margin: 10px 5px;
}
