/* Page header */
.body-header {
    text-align: center;
    background-color: #00cccc;
    color: white;
    font-weight: bold;
    padding: 30px;
    margin: 10px 0 20px;
}

/* Result table */
.result-block {
     width: 100%;
     margin: 20px auto;
}
.result-table {
     border-radius: 9px;
     border: 1px solid #00cccc;
}
.result-table thead {
     color: white;
     background-color: #00cccc;
}
.result-block tbody {
     color: #00cccc;
}

/* Button for displaying canvas */
.button-container {
    text-align: center;
}
.button-for-canvas {
    background-color: #00cccc;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    padding: 5px 20px;
}
.button-for-canvas:hover {
    cursor: pointer;
}
/* Canvas wrapper */
.canvas-wrapper {
    display: none;
    flex-wrap: wrap;
    justify-content: space-around;
}

#myChart1, #myChart2, #myChart3 {
    max-width: 600px;
    max-height: 600px;
}
