/* Page header */
.body-header {
    text-align: center;
    background-color: #00cccc;
    color: white;
    font-weight: bold;
    padding: 30px;
    margin: 10px 0 20px;
}

/* Result table */
.result-block {
     width: 80%;
     margin: 50px auto;
}
.result-table {
     border-radius: 9px;
     border: 1px solid #00cccc;
}
.result-table thead {
     color: white;
     background-color: #00cccc;
}
.result-block tbody {
     color: #00cccc;
}
