<!DOCTYPE html>
<html lang="en-US">
<head>
     <meta charset="utf-8">
     <title>Quiz-Competestion</title>
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
     <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
     <link type="text/css" rel="stylesheet" href="../stylesheets/index.css">
</head>
<body class="container-fluid">

     <!-- Page header -->
     <header class="body-header jumbotron">
          <h1>SURVEY 2018-19</h1>
     </header>

     <!-- Remaining question indicator

          It will updated after covering all questions to indicate about
          the 'YES I AM SURE' button.
          It will disappear once the 'YES I AM SURE' button is clicked.
     -->
     <p class="content-header text-muted">
          <kbd class="rem-ques-nos">1</kbd> question remaining!!!</p>

     <!-- Main container

          It contains the Question form and Status table.

          It will disappear once the 'YES I AM SURE' button is clicked.
     -->
     <div class="main">

          <!-- Question form -->
          <div class="content-block">
               <div class="question-block"><h2>
                    <kbd class="question-no">1</kbd>
               </h2></div>
               <hr class="devider">

               <!-- Wrapper only for aligning center -->
               <div class="answer-block-wrapper">
                    <div class="answer-block"></div>
               </div>
               <hr class="devider">
               <div class="button-block">
                    <button class='prev-button'>BACK</button>
                    <button class='submit-button'>SUBMIT</button>
                    <button class='next-button'>NEXT</button>
               </div>
          </div>

          <!-- Status table -->
          <div class="status-block">
               <table class="status-table table table-striped table-light table-bordered table-hover">
                    <thead>
                         <tr>
                              <th>Qno</th>
                              <th>Answer</th>
                              <th>Edit</th>
                         </tr>
                    </thead>
                    <tbody></tbody>
               </table>
          </div>
     </div>

     <!-- Contains only 'YES I AM SURE' button -->
     <div class="sureButtonContainer">

          <!-- Yes I am sure button

               It only shows after covering all questions.
               It will disappear once this button is clicked.
          -->
          <button>YES I AM COMPLETE</button>
     </div>

     <!-- Form for Personal details

          It only shows on 'YES I AM SURE' button click.
     -->
     <div class="user-form-container">
          <form  onsubmit="return user.validateAll(event)" class="user-form" name="user-form">
               <input type="text" name="name" class="user-name" placeholder="Your Name..." onblur="user.validateName()">
               <p class="uname-msg"></p>
               <input type="text" name="email" class="user-email" placeholder="Email..." onblur="user.validateEmail()">
               <p class="uemail-msg"></p>
               <input type="submit" value="SUBMIT" class="user-submit">
          </form>
     <div>

</body>
<script src="../javascripts/index.js"></script>
</html>
