<!DOCTYPE html>
<html lang="en-US">
<head>
	<meta charset="utf-8">
	<title>quiz-competition</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="../stylesheets/quiz.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
</head>
<body>

	<header class="mHeader"></header>
	<div class="main">

		<div class="ques-ans-block">
			<div class="question-block"></div>
			<hr class="devider">
			<div class="answer-block"></div>
		</div>

		<div class="current-status">
			<table class="status-table">
				<thead>
					<th>Qno</th>
					<th>Answer</th>
					<th>Edit</th>
				</thead>
				<tbody></tbody>
			</table>
		</div>

	</div>

	<div class="login-form-container">
		<form name="login-form" class="login-form" onsubmit="return validateLogin(event)">
			<input type="email" class="email" name="email" placeholder="Email" required>
			<input type="password" class="password" name="password" placeholder="Password" required>
			<input type="submit" value="Sign In">
		</form>
	</div>

	<div class="review-page">
		<form name="review-form" class="review-form">
			<header>Email:<span class="user-name"></span></header>
		</form>
	</div>
</body>
<script type="text/javascript" src="../javascripts/quiz.js"></script>
</html>
